<div class="card"> 
        <div class="head">
            <div class="head-left">
                <h3>{{docteur}}</h3>
                <span>nutritioniste</span>
    
            </div>
            <div class="head-right">
                <span>Dakar</span>
            </div>
            
        </div>
    
        <div class="titre" > Fiche Patient
    
                <hr/>
    
    
        </div>
     
    
        <div class="body">
    
    <dd>
        <dl><span>Prenom et nom: {{prenonp}}</span></dl>
        <dl><span>Telephone : {{telephone}} </span></dl>
        <dl><span>Adresse: {{adresse}} </span></dl>

        <dl><span>Age: {{age}} </span></dl>
    </dd>
    
    </div>
    
    
    </div>